{% extends "index.html" %}
{% block content %}
{% load static %}


<!-- <div class="videosplash">
  <video poster="{% static 'css/splashscreen.jpg' %}" autoplay="true" loop>
    <source src="{% static 'css/keyboard.mp4' %}" type="video/mp4">
  </video>
</div> -->

<div class="splashscreen">
    <!-- <div class="col-md-12 typing-text">
      <h2>
        <p href="" class="typewrite" data-period="2000" data-type='[ "Hi, Im Adam.", "Click arrow to go to projects"]'>
          <span class="wrap"></span>
        </p>
      </h2>
    </div> -->

    <h1 class="splashtext">
      Poetic Savior
    </h1>
</div>




<div class="aboutme">
    <div class="aboutheader2">
      Rapper behind the Mic
    </div>

    <div class="aboutme_headshot">
      <img class="rapperheadshot" src="{% static  '/css/rapperheadshot.jpeg' %}" />
    </div>

    <div class="aboutme_blurb">
      <p>
        Lorem ipsum dolor sit amet, ad sea accusam suscipiantur voluptatibus. Nec at atqui possit. Nam solet aliquam ex, ne pro repudiandae disputationi. Mucius argumentum theophrastus qui id. An ius natum nominati incorrupte, enim erroribus ea pri, eu eligendi patrioque per.
        <br /> <br />
        Ei tantas accusata qui, id meis legimus sententiae cum. Ei est movet delicata, indoctum intellegebat conclusionemque ea duo, pri an habeo harum omittam. Quidam corrumpit sea ei, eripuit facilis molestiae ne nec, ridens facilisis ei sed. Everti singulis his ei, diam eius usu ut, qualisque eloquentiam an vis.
        <br /> <br />

        Nam in omnes facete eirmod. Mea an ponderum dissentias. Eu eros vocent reprimique qui, sea mutat inermis accusata ne, ei iudico feugait iudicabit nec. Ius nibh suavitate in, eu detracto albucius quo. Eu est facer oporteat moderatius.
        <br /> <br />

        Singulis recusabo reformidans te usu. Ea quod dicat partiendo usu, no sale melius accusata mea. Mazim viris liberavisse ne sit, ne quo quas nusquam intellegam. Id aperiri ponderum eos, ne est movet discere democritum. Solum erant viderer has ne, vim ea erat doctus quaerendum.
        <br /> <br />

        Ei etiam appetere pro, audire gubergren an vel. No vim inimicus contentiones, per nulla partem vulputate te, sed oporteat periculis at. Adhuc fabellas molestiae te his. Ius eros dolores in, at commune nominati omittantur vim. Cu quo quod nullam audiam. Quot mundi utroque in eam.
      </p>
    </div>
</div>

<div class="aboutme">
  <div class="aboutheader2">
    Recent Releases
  </div>

  <div class="soundcloud">
    <!-- To be used later when SoundCloud API becomes available -->
  </div>

  <div class="instagram">
    <!-- To be used later for Instagram Graph API -->
  </div>


</div>

{% endblock %}
