{% extends "index.html" %}
{% block content %}
{% load static %}


<!-- <div class="videosplash">
  <video poster="{% static 'css/splashscreen.jpg' %}" autoplay="true" loop>
    <source src="{% static 'css/keyboard.mp4' %}" type="video/mp4">
  </video>
</div> -->

<div class="splashscreen">
    <!-- <div class="col-md-12 typing-text">
      <h2>
        <p href="" class="typewrite" data-period="2000" data-type='[ "Hi, Im Adam.", "Click arrow to go to projects"]'>
          <span class="wrap"></span>
        </p>
      </h2>
    </div> -->

    <h1 class="splashtext">
      Poetic Savior
    </h1>
</div>




<div class="aboutme">

</div>

<div class="headshot">
  <div>
    Recent Releases
  </div>
</div>

{% endblock %}
