<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" >
		    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Adam H's Portfolio</title>
        <!-- Font-->
        <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
        <!--Custom CSS files-->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css">
		    <link rel="stylesheet" href="css/socicon/socicon/fonts/socicon.css">
    </head>
    <body>
      Home page
    </body>
  </html>
